@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: #5c3d87;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 1.5em;
}

header .hamburger {
    font-size: 2em;
    display: block; /* Show hamburger only in mobile */
    background: none;
    border: none;
    color: white;
}

nav {
    display: none; /* Hide nav by default in mobile */
}

nav.active {
    display: block; /* Display nav when 'active' class is added */
}

nav ul {
    list-style: none;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Gallery (Grid) */
#gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

figure {
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

/* Footer */
footer {
    background-color: #5c3d87;
    color: white;
    text-align: center;
    padding: 10px 0;
}
