/* For larger screens, adjust layout */
@media screen and (min-width: 768px) {

    /* Header */
    header {
        padding: 10px 40px;
    }

    nav {
        display: flex;
    }

    nav ul {
        display: flex;
        gap: 20px;
        margin-left: auto;
    }

    nav ul li {
        margin: 0;
    }

    /* Gallery */
    #gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 columns for larger screens */
        gap: 20px;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}
